@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 2px;
}

body {
  background-color: #f6f6f6;
}

/* utility classes */

ol {
  list-style-type: decimal;
}

.hidden {
  display: none !important;
}

.opacity {
  opacity: 0;
}

.margin-left {
  margin-left: 50px;
}

.region {
  font-weight: bold;
  cursor: pointer;
  display: block;
  width: 60%;
}

.region ol {
  font-weight: normal;
  cursor: default;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 10px;
  height: 100px;
  background-color: #f6f6f6;
}

.main-container {
  display: flex;
  margin: auto;
  height: 100%;
}

.main-container .list {
  min-width: 340px;
  flex: 1;
  padding: 50px;
  background-color: rgba(0, 255, 0, 0.03);
  /* border-top: 1px solid green;
  border-right: 1px solid green;
  border-bottom: 1px solid green; */
}

.main-container .list ol {
  display: block;
}

.list ul li {
  width: 100%;
  margin-top: 5px;
}
.list ol li {
  width: 100%;
  margin-top: 5px;
}

.main-container .info {
  flex: 1;
  padding: 50px;
  background-color: rgba(255, 0, 0, 0.03);
  /* border-top: 1px solid red;
  border-left: 1px solid red;
  border-bottom: 1px solid red; */
}

.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.region-header h1 {
  display: flex;
  justify-content: center;
  width: 250px;
}

.image-container {
  width: 250px;
}

.image-container img {
  width: 100%;
}

.info p {
  font-size: 1.1rem;
  margin: 0 auto;
}

.song {
  margin-top: 10px;
}

.region i {
  opacity: 0.3;
}

.svg-container {
  min-width: 860px;
  background-color: #ffffff;
}

svg {
  width: 100%;
  margin: 90px auto;
  flex: 2;
}

svg path {
  stroke: grey;
  cursor: pointer;
}

svg path:hover {
  fill: dimgray;
  stroke: grey;
  stroke-width: 1;
}

svg path#VA,
#SM,
#FR-H,
#MT {
  fill: #666;
  cursor: default;
}
